
obj/Debug/net7.0/refint/CodeWarsCsharp.dll
obj/Debug/net7.0/ref/CodeWarsCsharp.dll
obj/Debug/net7.0/CodeWarsCsharp.sourcelink.json
obj/Debug/net7.0/CodeWarsCsharp.pdb
obj/Debug/net7.0/CodeWarsCsharp.dll
obj/Debug/net7.0/CodeWarsCsharp.csproj.FileListAbsolute.txt
obj/Debug/net7.0/apphost.exe
bin/Debug/net7.0/CodeWarsCsharp.pdb
bin/Debug/net7.0/CodeWarsCsharp.exe
bin/Debug/net7.0/CodeWarsCsharp.dll
*.dll
